.loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #192f60; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* ローディング画面が他の要素より前面に表示されるように */
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#chat-container {
    flex-grow: 1;
    overflow: auto;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    /* margin-bottom: 100px; 入力エリアの高さに応じて調整 */
}

#chat-box {
    /* overflow-y: auto; コンテンツがオーバーフローしたらスクロールバーを表示 */
    /* max-height: 80vh; ビューポートの高さの80%を最大高さとする */
    margin-bottom: 20px; /* フォームとの間隔 */
    overflow-wrap: break-word; /* 長い単語でも折り返し */
}


#chatForm {
    display: flex;
    justify-content: space-between;
    margin: 0 10px 10px 10px; /* チャットボックスとの間隔を調整 */
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* フォームに影を追加 */
}

textarea {
    width: calc(100% - 120px); /* 送信ボタンの幅を考慮 */
    height: 72px; /* 初期の高さ */
    resize: vertical; /* 垂直方向のリサイズのみ許可 */
}

#sendButton {
    /* width: 100px;
    height: 54px; textareaと同じ高さに調整 */
    vertical-align: top; /* ボタンをテキストエリアの上部に合わせる */
    border: none; /* ボーダーを削除 */
    background-color: #0f2350; /* 背景色 */
    color: white; /* 文字色 */
    cursor: pointer; /* カーソルをポインターに */
    border-radius: 5px; /* 角丸のデザイン */
}

#chat-box div {
    margin: 5px 0;
}

.user-message {
    align-self: flex-end;
    background-color: #f0f0f0;
    padding: 5px;
    border-radius: 5px;
}

.bot-message {
    align-self: flex-start;
    color: #fffffc;
    background-color: #192f60;
    padding: 5px;
    border-radius: 5px;
}

.file-input-icon, .drop-area-icon {
    display: inline-block;
    padding: 10px;
    border: 2px dashed #ccc;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    height: 50px; /* 高さを指定 */
    line-height: 30px; /* アイコンとテキストの縦位置を調整 */
}

.file-input-icon i, .drop-area-icon i {
    font-size: 24px; /* アイコンのサイズ */
}

/* ドラッグアンドドロップ領域の幅を調整 */
#dropArea {
    width: auto; /* 幅を自動調整に変更、または具体的な値を指定 */
    display: inline-block; /* インラインブロック要素として表示 */
    margin: 0 0px; /* 余白を設定 */
}

/* 入力枠と送信ボタンのスタイルを調整 */
#userInput, #sendButton {
    height: 72px; /* 高さを指定 */
}

/* ファイル情報表示用のスタイル */
.file-info {
    margin-top: 10px; /* 余白を設定 */
    color: #333; /* テキストカラー */
}
